
body {
	background-image: url(wood.jpg);
	padding: 60px;
	font-family: 'Sacramento', cursive;
	color: azure;
}

.container{
	padding: 15px; 
	border-style: dotted;
	border-color: peachpuff;
	border-width: 2px;

	
}

h1{
	font-size: 3em;
	color: peachpuff;
	font-weight: lighter;
	text-align: center;
	font-family: 'Sacramento', cursive;
}


.title{

	text-decoration: none;
	color: peachpuff;
}



a{
	text-decoration: none;
	color: azure;
	
}